@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&family=JetBrains+Mono:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* { margin: 0; padding: 0; box-sizing: border-box; }
html { font-size: 15px; }
body { background: #F3F0EE; color: #1A1218; font-family: 'Sora', sans-serif; }
::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: #F3F0EE; }
::-webkit-scrollbar-thumb { background: #DDB8C4; border-radius: 2px; }
